
.MuiToolbar-root{
    color: #fff;
    background-color: #001B3A;
}

.makeStyles-inputInput-6{
    padding: 16px 16px;
}

.MuiInputBase-root, .makeStyles-inputRoot-6{
    padding: 16px 16px;
}